.taskForm{
  height: 3.375rem;
  display: flex;
  justify-content: space-between;
  margin-top: calc(0px - 3.375rem / 2 );
}

.taskForm input{
  background: var(--gray-500);
  color: var(--gray-300);
  border: 1px solid var(--gray-700);
  border-radius: 8px;

  box-sizing: border-box;

  display: flex;
  align-items: center;

  flex: none;
  order: 0;

  padding: 1rem;

  width: 638px;

  box-sizing: border-box;
}

.taskForm button{
  box-sizing: border-box;

  width: 5.625rem;
  background-color: var(--blue-900);
  border: 0;
  color: var(--gray-100);
  
  font-size: 0.875rem;
  font-weight: 700;

  align-items: center;
  justify-items: center;
  justify-content: center;
  flex: none;
  flex-direction: row;

  display: flex;
  
  border-radius: 8px;
  
  padding: 16px;
  gap: 8px;

  order: 1;
  flex-grow: 0;
}

.taskForm button::before{
  gap: 16px;
}

.taskForm button:disabled{
  opacity: 0.7;
}